<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.rtl.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="../css/style.css">
    <title> تواصل معنا</title>
</head>
<body>
    <style>
       
        body{
        background: #f6f9fc;
    }

    .overlay{
            background-image: url('../assets/images/signin-login-vectors/60843.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        }
    

      </style>

   <!--
        Header
    -->
    <header class="main-header sticky-lg-top col-12">
        <!-- Nav bar-->
        <nav class="navbar  navbar-expand-lg  navbar-bg  ">
            <div class="container-fluid ">
                <a class="navbar-brand text-white" href="index.html">Hire me</a>
                <button class="navbar-toggler navbar-dark " type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon "></span>
                </button>
                <div class="collapse navbar-collapse fw-bold " id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                        <li class="nav-item mx-3">
                            <a class="nav-link text-muted" aria-current="page" href="index.html">الرئيسية</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link navbar-a-color" href="jobs.html">الوظائف</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link navbar-a-color" href="our-services.html">خدماتنا</a>
                        </li>
                        <li class="nav-item mx-3 dropdown">
                            <a class="nav-link dropdown-toggle navbar-a-color" href="#" id="navbarDropdown"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                المزيد
                            </a>
                            <ul class="dropdown-menu border-0 navbar-bg " aria-labelledby="navbarDropdown">
                                <li><a class="navbar-a-color nav-link d-lg-none" href="login.html"> تسجيل الدخول</a></li>
                                <li><a class="navbar-a-color nav-link d-lg-none" href="signin.html">تسجيل حساب</a></li>

                                <li><a class="navbar-a-color nav-link " href="dashbord/index.html"> لوحة التحكم
                                        </a></li>

                                        <li><a class="navbar-a-color nav-link " href="profile.html"> الملف
                                            الشخصي</a></li>
                                <li><a class="navbar-a-color nav-link " href="about-us.html">من نحن</a></li>
                                <li><a class=" navbar-a-color nav-link " href="index.html">شركائنا</a></li>
                                <li><a class="navbar-a-color nav-link   main-active " href="contact-us.html">تواصل معنا</a></li>
                            </ul>
                        </li>
                     

                    </ul>

                </div>
                    <!-- Login and Sign in with images section-->
                    <div class=" col-lg-5  position-relative d-none d-sm-none d-lg-block ">
               
                   
                        <div class="row justify-content-start ">
                            <button class="col-5  m-2 signup-btn btn-bg-color  ">
                                <a href="signin.html " class="text-decoration-none main-active">    تسجيل حساب</a>
                            </button>
                            <button class="col-5 m-2 signin-btn border-0 btn-bg-color ">
                                <a href="login.html" class="text-decoration-none text-white">     الدخول</a>
                            </button>
                    </div>
               
            </div>
            </div>
           
        </nav>
              
    </header>


    <!--Main Content-->
    <main class=" my-5">
        <div id="main-wrapper" class="container">
          <div class="row justify-content-center">
              <div class="">
                  <div class="card border-0 ">
                      <div class="card-body p-0">
                          <div class="row no-gutters">
                              <div class="col-lg-6">
                                  <div class="p-5">
                                      <div class="mb-5">
                                          <h3 class="h4 font-weight-bold text-theme">تواصل معنا </h3>
                                      </div>
      
                                      <h6 class="h5 mb-0">مرحباً بك   !</h6>
                                      <p class="text-muted mt-2 mb-5">   سعداء للغاية لتواصلك معنا </p>
      
                                      <form>
                                          <div class="form-group">
                                              <label for="exampleInputEmail1">الايميل الالكتروني</label>
                                              <input type="email" class="form-control" id="exampleInputEmail1">
                                          </div>
                                          <div class="form-group mt-3">
                                            <label for="exampleInputEmail1"> محتوى الرسالة</label>
                                            <textarea class="form-control " id="message" cols="" rows="3"></textarea>
                                        </div>
                                         <button type="submit" class="mt-2 btn btn-theme">ارسال</button>
                                      </form>
                                  </div>
                              </div>
      
                              <div class="col-lg-6 d-none d-lg-inline-block">
                                <div class="account-block  rounded-right">
                                    <div class="overlay rounded-right"></div>
                                 
                                </div>
                              </div>
                          </div>
      
                      </div>
                      <!-- end card-body -->
                  </div>
                  <!-- end card -->
      
      
                  <!-- end row -->
      
              </div>
              <!-- end col -->
          </div>
          <!-- Row -->
      </div>
      </main>

          <!--
Footer section
-->
<footer>
    <section class="navbar-bg">
        <!-- Footer -->
        <footer class=" text-white">
            <!-- Grid container -->
            <div class="container pt-4 pb-1">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                        <h4 class="">hire me</h4>

                        <p>
                          الموقع الاشهر على الاطلاق
                          <br>
                          قمنا بتوظيف اكثر من 100 الف شخص حول العالم 
                          <br>
                          لدينا شركاء من حول العالم وثقتكم بنا هي التي جعلتنا نستمر
                        </p>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">عن منصتنا</h5>

                        <ul class="list-unstyled mb-0">
                            <li class="mt-3">
                                <a href="about-us.html" class="text-white">من نحن</a>
                            </li>
                            <li>
                                <a href="our-services.html" class="text-white">خدماتنا</a>
                            </li>
                            <li>
                                <a href="contact-us.html" class="text-white">تواصل معنا</a>
                            </li>
                            <li class="d-flex flex-row my-2">
                                <a href="#!" class="text-white mx-2"><i class="bi bi-twitter"></i></a>
                                <a href="#!" class="text-white mx-2"><i class="bi bi-facebook"></i></a>
                                <a href="#!" class="text-white mx-2"><i class="bi bi-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase mb-0">تصفح</h5>

                        <ul class="list-unstyled">
                            <li class="mt-3">
                                <a href="jobs.html" class="text-white">الوظائف</a>
                            </li>
                            <li>
                                <a href="compenies.html" class="text-white">شركائنا</a>
                            </li>
                            <li class="login_checked">
                                <a href="./login.html" class=" btn bg-white text-black mt-2">تسجيل الدخول</a>
                            </li>

                        </ul>
                    </div>
            
                </div>
                <hr>
                         <!-- Copyright -->
            <div class="text-center ">
                الحقوق محفوظة:  2022 ©
              <p> تطوير <a class="text-white" href="https://www.alsuhaibi96.com" > Abdlurahman Alsuhaibi</a></p>   
             </div>
             <!-- Copyright -->
            </div>
            <!-- Grid container -->

   
        </footer>
        <!-- Footer -->
    </section>
</footer>

    <script src="../js/bootstrap.min.js"></script>

</body>
</html>