<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.rtl.css">
    <!-- <link rel="stylesheet" rel="stylesheet/scss" type="text/scss" href="../scss/custom.scss"> -->

    <link rel="stylesheet" href="../css/style.css">

    <title>Hire Me</title>
</head>

<body>

    <!--
The main header
-->
    <div class="container-fluid">

        <div class="row">
            <div class="main-content col-md-6  col-xxl-6 col-sm ps-lg-5 p-lg-3 p-sm-3">
                <header class="main-header ">
                    <!-- Nav bar-->
                    <nav class="navbar  navbar-expand-lg ps-lg-2 navbar-bg  ">
                        <div class="container-fluid ">
                            <a class="navbar-brand text-white" href="#">Hire me</a>
                            <button class="navbar-toggler navbar-dark " type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon "></span>
                            </button>
                            <div class="collapse navbar-collapse fw-bold " id="navbarSupportedContent">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                                    <li class="nav-item mx-3">
                                        <a class="nav-link main-active" aria-current="page" href="#">الرئيسية</a>
                                    </li>
                                    <li class="nav-item mx-3">
                                        <a class="nav-link navbar-a-color" href="#">الوظائف</a>
                                    </li>
                                    <li class="nav-item mx-3">
                                        <a class="nav-link navbar-a-color" href="#">خدماتنا</a>
                                    </li>
                                    <li class="nav-item mx-3 dropdown">
                                        <a class="nav-link dropdown-toggle navbar-a-color" href="#" id="navbarDropdown"
                                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            المزيد
                                        </a>
                                        <ul class="dropdown-menu border-0 navbar-bg " aria-labelledby="navbarDropdown">
                                            <li><a class="navbar-a-color nav-link " href="dashbord/index.html"> الملف الشخصي</a></li>
                                            <li><a class="navbar-a-color nav-link " href="#">من نحن</a></li>
                                            <li><a class=" navbar-a-color nav-link " href="#">شركائنا</a></li>
                                            <li><a class="navbar-a-color nav-link " href="#">تواصل معنا</a></li>
                                        </ul>
                                    </li>

                                </ul>

                            </div>
                        </div>
                    </nav>
                </header>

                <!--
                    Main content
                -->
                <section>
                    <div class="content-container text-white pt-lg-5 ps-lg-2 ">
                        <h1 class="pt-5 ">
                            افضل مكان لايجاد وظيفتك <h1 class="future-bg mt-3  ">المستقبلية</h1>
                        </h1>
                        <p class="mt-3 ps-2 paragraph fw-light">
                             معنا عبر المنصة نساعدك على ايجاد الوظيفة المناسبة لبناء عالم افضل.
                        </p>
                        <div class="row  ps-2 mt-5">
                            <button class="col-4 m-2 searchJobbtn btn-bg-color ">
                              ابحث عن وظيفة
                            </button>
                            <button class="col-4 m-2 ms-4 readmore-btn border-0 btn-bg-color ">
                              اقرأ اكثر <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                              </svg>
                            </button>
                            
                        </div>
                        <!--
                            Our Partners
                        -->
                        <div class="our-partners  pt-5 p-3 our-partners-color">
                           
                           
                            <span class=>3000 مؤسسة واكثر</span>
                            <div class="our-partners-container row mt-3">
<h3 class="col-3 ">Meta</h3> <h3 class="col-3   ">Google</h3> <h3 class="col-3   ">Linkd in</h3> <h3 class="col-3   ">Salck</h3>
                            </div>
                        </div>
                    </div>

                </section>
            </div>


            <!-- Main Content-->




            <!-- Login and Sign in with images section-->
            <div class="col-md-6  images-container d-none d-sm-none d-md-block">
                <div class="people-img-container ">
                    <div class="container-fluid p-2  w-75  ">
                        <div class="row p-2 ps-lg-4    ">
                            <button class="col-4  m-2 signup-btn btn-bg-color ">
                                تسجيل حساب
                            </button>
                            <button class="col-4 m-2 signin-btn border-0 btn-bg-color ">
                                الدخول
                            </button>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>

    <!--The main content of the main page-->
    <main>



    </main>

    <!--
Footer section
-->
    <footer>

    </footer>


    <script src="../js/jquery-3.6.0.min.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>

</body>

</html>