<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.rtl.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="../css/style.css">
    <title>Jobs</title>
</head>

<body style="background-color: #f1f2f4;">
   <!--
        Header
    -->
    <header class="main-header sticky-lg-top col-12">
        <!-- Nav bar-->
        <nav class="navbar  navbar-expand-lg  navbar-bg  ">
            <div class="container-fluid ">
                <a class="navbar-brand text-white" href="index.html">Hire me</a>
                <button class="navbar-toggler navbar-dark " type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon "></span>
                </button>
                <div class="collapse navbar-collapse fw-bold " id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                        <li class="nav-item mx-3">
                            <a class="nav-link main-active" aria-current="page" href="index.html">الرئيسية</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link navbar-a-color" href="jobs.html">الوظائف</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link navbar-a-color" href="our-services.html">خدماتنا</a>
                        </li>
                        <li class="nav-item mx-3 dropdown">
                            <a class="nav-link dropdown-toggle navbar-a-color" href="#" id="navbarDropdown"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                المزيد
                            </a>
                            <ul class="dropdown-menu border-0 navbar-bg " aria-labelledby="navbarDropdown">
                                <li><a class="navbar-a-color nav-link d-lg-none" href="login.html"> تسجيل الدخول</a></li>
                                <li><a class="navbar-a-color nav-link d-lg-none" href="signin.html">تسجيل حساب</a></li>

                                <li><a class="navbar-a-color nav-link " href="dashbord/index.html"> لوحة التحكم
                                        </a></li>

                                        <li><a class="navbar-a-color nav-link " href="profile.html"> الملف
                                            الشخصي</a></li>
                                <li><a class="navbar-a-color nav-link " href="about-us.html">من نحن</a></li>
                                <li><a class=" navbar-a-color nav-link " href="index.html">شركائنا</a></li>
                                <li><a class="navbar-a-color nav-link " href="contact-us.html">تواصل معنا</a></li>
                            </ul>
                        </li>
                     

                    </ul>

                </div>
                    <!-- Login and Sign in with images section-->
                    <div class=" col-lg-5  position-relative d-none d-sm-none d-lg-block ">
               
                   
                        <div class="row justify-content-start ">
                            <button class="col-5  m-2 signup-btn btn-bg-color  ">
                                <a href="signin.html " class="text-decoration-none main-active">    تسجيل حساب</a>
                            </button>
                            <button class="col-5 m-2 signin-btn border-0 btn-bg-color ">
                                <a href="login.html" class="text-decoration-none text-white">     الدخول</a>
                            </button>
                    </div>
               
            </div>
            </div>
           
        </nav>
              
    </header>


    <main class="col-12">
        <!--Welcome section-->
        <section class="m-auto col-lg-6 col-md-10 col-sm-12 mt-4">
            <div class="container-fluid  ">
                <div class="card p-lg-4 fw-bold  ">
                    <div class="card-body position-relative">
                        <img class=" img-fluid position-absolute end-0 top-0" width="150px" height="100px"
                            src="../assets/images/Layer 122.png">
                        <h3 class="card-title">الاحد , 3 فبراير</h3>
                        <h3 class="card-title mt-3">
                            مساء الخير , <br>عبدالرحمن احمد
                        </h3>
                    </div>
                </div>

            </div>
        </section>
        <!--
    Search job section
-->
        <section class="mt-4 m-auto col-lg-6 col-md-10 col-sm-12 ">

            <div class="container-fluid ">
                <form class=" ">
                    <div class="position-relative">
                        <input class="form-control" list="datalistOptions" id="exampleDataList"
                            placeholder="ابحث عن وظيفة">

                        <i class="position-absolute search-btn-job  text-white fa fa-search  fa-fa-bg search-bg  ps-3"
                            style="font-size: 20px;"></i>
                    </div>
                    <div class="d-flex flex-row mt-2">
                        <p class="fw-bold me-2"> بحث سابق : </p> <span class="fw-bolder text-color "> UI UX ,
                            Develompemt </span>
                    </div>
            </div>

            </form>
        </section>


        <!--
    Jobs you may like
-->
        <section>
            <div class="container-fluid col-lg-6 col-md-10 col-sm-12 m-auto mt-5 mb-5">
                <div class="card">
                    <div class="card-body ms-lg-2 pb-2 ">
                        <h3 class="card-title">
                            وظائف قد تعجبك
                        </h3>
                        <div class="">
                            <ul>
                                <li class="d-flex flex-row mt-4 li-jobs  ">
                                    <a href="#" class="me-5 text-black text-decoration-none " style="font-weight: 700;">
                                        حسب مهاراتي</a>
                                    <a href="#" class="me-5 ms-lg-5 text-black text-decoration-none"
                                        style="font-weight: 700;">الاخيرة </a>
                                    <a href="#" class="me-5 ms-lg-5 text-black text-decoration-none"
                                        style="font-weight: 700;"> المحفوظة</a>
                                </li>
                            </ul>
                            <hr class="w-100">
                            <p class="py-1 " style="font-weight: 600;">تصفح الوظائف التي تتوافق مع خبرتك ومهاراتك</p>
                            <hr class="w-100">
                        </div>

                          <!--More job details-->  
                          <div class="job-details-container ">
                        <div class="job-title-container mt-5 d-flex flex-row justify-content-between">
<a href="job_details.html" class="text-decoration-none text-black">
    <h5>مهندس برمجيات</h5>

</a>
                            <div class="d-flex flex-row">
                                <a href="">
                                    <img src="../assets/images/Layer 22221.png" alt="" class="src">

                                </a>

                                <a>
                                    <img src="../assets/images/Layer 2222.png" alt="" class="src">

                                </a>
                            </div>
            
           </div>
           <div class="pb-3">
            <p class="text-muted">عن بعد - محترف - سعر العمل محدد - 500$ - قبل ساعة</p>
            <h6>القيام على اكمال تطبيق فيه بعض النواقص 
            <br>
            <p class="text-muted mt-1">عدد المتقدمين: اقل من 5 </p>
            
            </h6>
            </div>
            
            <hr class="w-100">
</div>            

         
        <!--More job details-->  
        <div class="job-details-container ">
            <div class="job-title-container mt-5 d-flex flex-row justify-content-between">
<a href="job_details.html" class="text-decoration-none text-black">
<h5>مطور مواقع الويب</h5>

</a>
                <div class="d-flex flex-row">
                    <a href="">
                        <img src="../assets/images/Layer 22221.png" alt="" class="src">

                    </a>

                    <a>
                        <img src="../assets/images/Layer 2222.png" alt="" class="src">

                    </a>
                </div>

</div>
<div class="pb-3">
<p class="text-muted">في مقر الشركة - محترف - سعر العمل محدد - 500$ شهريا - قبل ساعة</p>
<h6>مطور ويب فرونت وباك اند
<br>
<p class="text-muted mt-1">عدد المتقدمين: اقل من 10 </p>

</h6>
</div>

<hr class="w-100">
</div>            


  <!--More job details-->  
  <div class="job-details-container ">
    <div class="job-title-container mt-5 d-flex flex-row justify-content-between">
<a href="job_details.html" class="text-decoration-none text-black">
<h5>
مهندس برمجيات
</h5>

</a>
        <div class="d-flex flex-row">
            <a href="">
                <img src="../assets/images/Layer 22221.png" alt="" class="src">

            </a>

            <a>
                <img src="../assets/images/Layer 2222.png" alt="" class="src">

            </a>
        </div>

</div>
<div class="pb-3">
<p class="text-muted">في مقر الشركة - محترف - سعر العمل محدد - 500$ شهريا - قبل ساعة</p>
<h6>مطور ويب فرونت وباك اند
<br>
<p class="text-muted mt-1">عدد المتقدمين: اقل من 10 </p>

</h6>
</div>

<hr class="w-100">
</div>     


  <!--More job details-->  
  <div class="job-details-container ">
    <div class="job-title-container mt-5 d-flex flex-row justify-content-between">
<a href="job_details.html" class="text-decoration-none text-black">
    <h5>
مبرمج تطبيقات الهاتف
    </h5>

</a>
        <div class="d-flex flex-row">
            <a href="">
                <img src="../assets/images/Layer 22221.png" alt="" class="src">

            </a>

            <a>
                <img src="../assets/images/Layer 2222.png" alt="" class="src">

            </a>
        </div>

</div>
<div class="pb-3">
<p class="text-muted">في مقر الشركة - محترف - سعر العمل محدد - 500$ شهريا - قبل ساعة</p>
<h6>مطور ويب فرونت وباك اند
<br>
<p class="text-muted mt-1">عدد المتقدمين: اقل من 10 </p>

</h6>
</div>

<hr class="w-100">
</div>     
  <!--More job details-->  
  <div class="job-details-container ">
    <div class="job-title-container mt-5 d-flex flex-row justify-content-between">
<a href="job_details.html" class="text-decoration-none text-black">
<h5>مطور مواقع الويب</h5>

</a>
        <div class="d-flex flex-row">
            <a href="">
                <img src="../assets/images/Layer 22221.png" alt="" class="src">

            </a>

            <a>
                <img src="../assets/images/Layer 2222.png" alt="" class="src">

            </a>
        </div>

</div>
<div class="pb-3">
<p class="text-muted">في مقر الشركة - محترف - سعر العمل محدد - 500$ شهريا - قبل ساعة</p>
<h6>مطور ويب فرونت وباك اند
<br>
<p class="text-muted mt-1">عدد المتقدمين: اقل من 10 </p>

</h6>
</div>

<hr class="w-100">
</div>     
  <!--More job details-->  
  <div class="job-details-container ">
    <div class="job-title-container mt-5 d-flex flex-row justify-content-between">
<a href="job_details.html" class="text-decoration-none text-black">
<h5>مطور مواقع الويب</h5>

</a>
        <div class="d-flex flex-row">
            <a href="">
                <img src="../assets/images/Layer 22221.png" alt="" class="src">

            </a>

            <a>
                <img src="../assets/images/Layer 2222.png" alt="" class="src">

            </a>
        </div>

</div>
<div class="pb-3">
<p class="text-muted">في مقر الشركة - محترف - سعر العمل محدد - 500$ شهريا - قبل ساعة</p>
<h6>مطور ويب فرونت وباك اند
<br>
<p class="text-muted mt-1">عدد المتقدمين: اقل من 10 </p>

</h6>
</div>

</div>     
       

                    </div>
                </div>
            </div>
        </section>
    </main>



        <!--
Footer section
-->
<footer>
    <section class="partners-bg">
        <!-- Footer -->
        <footer class=" text-white">
            <!-- Grid container -->
            <div class="container pt-4 pb-1">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                        <h4 class="">hire me</h4>

                        <p>
                          الموقع الاشهر على الاطلاق
                          <br>
                          قمنا بتوظيف اكثر من 100 الف شخص حول العالم 
                          <br>
                          لدينا شركاء من حول العالم وثقتكم بنا هي التي جعلتنا نستمر
                        </p>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">عن منصتنا</h5>

                        <ul class="list-unstyled mb-0">
                            <li class="mt-3">
                                <a href="about-us.html" class="text-white">من نحن</a>
                            </li>
                            <li>
                                <a href="our-services.html" class="text-white">خدماتنا</a>
                            </li>
                            <li>
                                <a href="contact-us.html" class="text-white">تواصل معنا</a>
                            </li>
                            <li class="d-flex flex-row my-2">
                                <a href="#!" class="text-white mx-2"><i class="bi bi-twitter"></i></a>
                                <a href="#!" class="text-white mx-2"><i class="bi bi-facebook"></i></a>
                                <a href="#!" class="text-white mx-2"><i class="bi bi-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase mb-0">تصفح</h5>

                        <ul class="list-unstyled">
                            <li class="mt-3">
                                <a href="jobs.html" class="text-white">الوظائف</a>
                            </li>
                            <li>
                                <a href="compenies.html" class="text-white">شركائنا</a>
                            </li>
                            <li class="login_checked">
                                <a href="./login.html" class=" btn bg-white text-black mt-2">تسجيل الدخول</a>
                            </li>

                        </ul>
                    </div>
            
                </div>
                <hr>
                         <!-- Copyright -->
            <div class="text-center ">
                الحقوق محفوظة:  2022 ©
              <p> تطوير <a class="text-white" href="https://www.alsuhaibi96.com" > Abdlurahman Alsuhaibi</a></p>   
             </div>
             <!-- Copyright -->
            </div>
            <!-- Grid container -->

   
        </footer>
        <!-- Footer -->
    </section>
</footer>

    <script src="../js/bootstrap.min.js"></script>
</body>

</html>